:host {
  display: block;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.error {
  border: 1px solid red;
}

.input-wrapper {
  display:flex; 
  align-items: baseline;
}

.input-wrapper__input:first-of-type {
  text-align: right;
  width: 100%;
}

.input-wrapper__input:last-of-type {
  text-align: right;
  width: 2em;
}